{% extends "base.html" %}
{% block title %}Loading...{% endblock %}
{% block content %}
<div id="content" class="text-center">
  <div class="spinner-border text-success mb-4" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <h2>Fetching your top songs from Spotify...</h2>
  <p>This may take a few seconds depending on your data.</p>
</div>
<script src="{{ url_for('static', filename='JS/chart.js') }}"></script>
<script src="{{ url_for('static', filename='JS/loadResults.js') }}"></script>

{% endblock %}